.actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: spacing(1);
  padding: spacing(1);

  & &__button {
    background-color: var(--mui-palette-common-white);
    border: 1px solid var(--mui-palette-grey-200);
    z-index: 3;

    &--drag {
      cursor: move;
    }
  }
}
