.placeholder {
  height: calc(spacing(2) * 2 + $product-card-height);
  border-radius: var(--mui-shape-borderRadius);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  border: 2px dashed var(--mui-palette-grey-300);
  cursor: pointer;
  gap: spacing(2);

  & &__icon {
    font-size: 5rem;
  }

  &__text {
    font-weight: 500;
    color: var(--mui-palette-grey-600);
  }

  &:hover {
    opacity: 1;
  }
}
