.card {
  @include fadein;
  width: $product-card-width;
  height: $product-card-height;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;

  &__image {
    object-fit: contain;
    width: 100%;
    height: $product-image-height;
  }

  &__content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
  }
}
