.editor-page {
  margin: spacing(5) 0;

  &__title {
    margin-bottom: spacing(5);
  }

  &__loader {
    color: var(--mui-palette-grey-300);
  }

  &__body {
    display: flex;
    justify-content: center;
  }

  &__rows {
    display: flex;
    flex-direction: column;
    gap: spacing(2);
    width: calc(100% * var(--zoom-factor));
  }
}
