.row {
  background: var(--mui-palette-grey-100);
  padding: spacing(2);
  border-radius: var(--mui-shape-borderRadius);
  height: calc($product-card-height * var(--zoom-factor));
  box-sizing: content-box;
  position: relative;
  display: flex;
  justify-content: flex-start;

  &--dragging:not(&--active).row--blocked {
    opacity: 0.5;
    cursor: no-drop;
  }

  &--over {
    cursor: pointer;
  }

  &--over:not(&--blocked):not(&--active) {
    background: var(--mui-palette-grey-300);
  }

  &__list {
    display: flex;
    gap: calc(spacing(2) * var(--zoom-factor));
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
