.row {
  background: var(--mui-palette-grey-100);
  padding: spacing(2);
  border-radius: var(--mui-shape-borderRadius);
  height: $product-card-height;
  box-sizing: content-box;
  position: relative;
  cursor: move;

  &--dragging:not(&--active).row--blocked {
    opacity: 0.5;
    cursor: no-drop;
  }

  &--over {
    cursor: pointer;
  }

  &--over:not(&--blocked):not(&--active) {
    background: var(--mui-palette-grey-300);
  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: spacing(1);
    padding: spacing(1);
  }

  &__list {
    display: flex;
    gap: spacing(2);
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
